<style>
    footer {
        background-color: black;
        position: relative;
        /*position: fixed;*/
        bottom: 0;
        width: 100%;
        height: 80px;
        color: white;
      }
    </style>
    
    <footer>
    <div id="footer" class="footer" >
        <h4>Angular Avanzado: Práctica N° 1          
        </h4>
        <h5>Alumno: Dario Javier Rodriguez          
        </h5>
    </div>
    </footer>