.completed {
    text-decoration: line-through;
    color: gray;
}

.container-fluid {
    width: 800px;
  }

  .col {
    position:relative;
    padding: 0.5%;
  }

  ul {
    list-style: none;
}

.hli {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}