<div class="container-fluid">
    <img class="img-thumbail" src="assets/images/logo.jpg" alt="Tareas" width="200px">
    <h1>Tareas por hacer</h1>
</div>
<div class="container-fluid">
    <form (ngSubmit) = "addTodo()">
    <div class="row g-3">
        <div class="col-sm-6">
            <input [(ngModel)] = "newTodo" name="newTodo" placeholder="Agregar nueva tarea" class="form-control">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
        
    </div>
    </form>
</div>
<div class="container-fluid">
  
<ul>   
            <li *ngFor="let todo of todos">
                <div class="row g-3"> 
                <div class="col-1  col">
                    <span class="bi bi-check2-all">
                    <input type="checkbox"  [(ngModel)]="todo.completed" (change)="toggleComplete(todo)" readonly>
                    </span>
                   
                </div>
                <div class="col-5  col hli">
                    <span [ngClass] = "{'completed': todo.completed}">{{ todo.title }}</span>
                </div>
                <div class="col-5  col">
                    <button (click)="removeTodo(todo)" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            </li>
</ul>

</div>
<div class="container-fluid">
<h2>Lista de Tareas</h2>
<ul>
    <li *ngFor="let todo of todos"> <div class="hli">{{ todo.title }}</div></li>
</ul>
</div>